<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ti.app.mydoctor">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyDoctorApp"
        android:allowBackup="false"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyDoctorAtHome.Light">

        <!--
             Provider per consentire di esportare le Uri dei files verso activity esterne.
             es. Intent.ACTION_VIEW per visualizzare le foto dei documenti
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".gui.AboutScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".gui.DeviceList"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.ShowUtilitySettings"
            android:label="@string/show_settings"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".gui.SelectPatient">
            <intent-filter>
                <action android:name=".DeviceList" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.ShowMeasure"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/show_measures">
            <intent-filter>
                <action android:name=".DeviceList" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.MeasureDetails"></activity>
        <activity android:name=".gui.DocumentDetails"></activity>
        <activity android:name=".gui.DeviceSettingsActivity"></activity>
        <activity
            android:name=".gui.UsersList"
            android:label="@string/users_title"></activity>
        <activity
            android:name=".gui.DeviceScanActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity
            android:name=".gui.ManualMeasureActivity"
            android:windowSoftInputMode="stateAlwaysVisible"></activity>
        <activity
            android:name=".gui.ECGDrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".gui.DocumentSendActivity"
            android:label="@string/title_activity_document_send"></activity>
        <activity android:name=".gui.AgendaActivity"></activity>
    </application>

</manifest>